<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="http://cdn.static.runoob.com/libs/jquery/1.10.2/jquery.min.js"></script>
{#    {% load staticfiles %}#}
</head>
<body>
<form method="post" id="formadd">
{#<img src="{% static 'picture_process/image/yasi.jpg' %}" />#}
用户名:<input type="text" id="id_name" />
密码:<input type="text" id="id_password" />
<input type="button" id="xx" value="登录">
</form>
</body>
</html>
<script>
{#        $(document).ready(function(){#}
{#            $.ajaxSetup({#}
{#                 data: {csrfmiddlewaretoken: '{{ csrf_token }}' },#}
{#            });#}
        $('#xx').click(function(){
                var name = $("#id_name").val();                 //获得form中用户输入的name 注意这里的id_name 与你html中的id一致
                var password = $("#id_password").val();    //同上

                $.ajax({
                    type:"POST",
                    data: {name:name, password:password},
                    url: "/comments_upload/", //后台处理函数的url 这里用的是static url 需要与urls.py中的name一致
                    cache: false,
                    dataType: "html",
                    success: function(result, statues, xml){
                        alert(result);                                         //成功时弹出view传回来的结果
                    },
                    error: function(){
                        alert("false");
                    }
                });
                return false;
            });

{#        });#}
    </script>